SettingInterface, #scroll_widget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}

QLabel#setting_label {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}
